<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
    </div>
    <div class="col-10">
        <h1>Post detail</h1>
    </div>
</div>
<ng-container *ngIf="post">
    <div class="row">
        <div class="col-2">
            Id
        </div>
        <div class="col-10">
            {{post.id}}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-2">
            userId
        </div>
        <div class="col-10">
            {{post.userId}}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-2">
            Title
        </div>
        <div class="col-10">
            {{post.title}}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-2">
            body
        </div>
        <div class="col-10">
            {{post.body}}
        </div>
    </div>
</ng-container>